# **CSI 115 - Computer and Programming Concept**

## **Lecture 1**

Here we will dive into python programming language. Each cell will contain some code and you can run it inside the browser.

You can also write code into adjacent cells and play with it as you want.

Let's get on!

# **First program in python**

This is a very simple program to demonstrate the interpretation of a python compiler. Here we are simply printing two values to check the output stream of our compiler.<br>

N.B: Click on the little play button on the left to run the program.

In [ ]:
print("Hello World")
print("This is my first program in python")

**Expected Output:**

Hello World <br>
This is my first program in python

# **Another example of a python program**

In this example we will see how we can generate a list of prime numbers that are located between a lower and an upper bound.<br>
For example, between 1 and 10 there are 4 prime numbers, i.e., 2, 3, 5, 7.

In [ ]:
import math as m
lower = 1
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
    if num > 1:
        for i in range(2, int(m.sqrt(num))):
            if (num % i) == 0:
                break
        else:
            print(num)

**Expected Output:**

Prime numbers between 1 and 1000 are:<br>
2<br>
3<br>
4<br>
.<br>
.<br>
.<br>
983<br>
991<br>
997

# **Excercise**

Complete the following program that will show the details of you in Stamford University Bangladesh.

In [ ]:
#Fill in the blanks with your student ID
print("My student ID is: .........")
#Fill in the blanks with your name
print("My name is: .........")
#Fill in the blanks with district
print("My home district is: .........")
###############Write your code here#######################
#Print that date that you got admitted here
#Print the courses IDs and Titles that you have registered
##########################################################
print("That's all for today!")

**Expected Output:**

My student ID is: CSE 074 12345<br>
My name is: John Doe<br>
My home district is: Dhaka<br>
My admission date is: 1 July 2020<br>
My registered courses are: <br>
CSI 115 - Computer and Programming Concept<br>
MATH 135 - Discreet Mathematics<br>
...<br>
That's all for today!